.main-slider .image-layer:before{
    display:none;
}

.main-slider-bubble{
    height:150px;
}

.main-header__logo a>img{
    width:89px;
}


.welcome-one__points li .text p{
    font-size:16px;
}

.services-one__text{
    line-height:24px;
    font-size:15px;
}

.information__number{
    font-size:16px;

}

.services-one{
    padding:80px 0;
}

.feature-two {
    padding: 120px 0 80px 0;
}


.owl-carousel:hover{
    user-select: none!important;
}

.feature-two__icon img{
    widht:60px;
    height:60px;
}

/*Remover efeito Hover*/

.services-two__img::before {
    background-color: rgba(var(--brote-base-rgb), 0.0);
}

.services-two__single:hover .services-two__img:before{
    transform:none!important;
}
.services-two__single:hover .services-two__img img{
    transform:none!important;
}

.services-carousel-page{
    padding:100px 0 50px 0;
}