.main-slider .image-layer:before{
    display:none;
}

.main-slider-bubble{
    height:150px;
}

.main-header__logo a>img{
    width:89px;
}


.welcome-one__points li .text p{
    font-size:16px;
}

.services-one__text{
    line-height:24px;
    font-size:15px;
}

.information__number{
    font-size:16px;

}

.services-one{
    padding:40px 0;
}

.feature-two {
    padding: 120px 0 30px 0;
}


.owl-carousel:hover{
    user-select: none!important;
}

.feature-two__icon img{
    widht:60px;
    height:60px;
}

/*Remover efeito Hover*/

.services-two__img::before {
    background-color: rgba(var(--brote-base-rgb), 0.0);
}

.services-two__single:hover .services-two__img:before{
    transform:none!important;
}
.services-two__single:hover .services-two__img img{
    transform:none!important;
}

.services-carousel-page{
    padding:100px 0 50px 0;
}

.counter-one__plus{
    font-size:45px;
    margin-left:10px;
}

.destaque-font{
    font-weight: 900;
    font-size: 64px;
    background: VAR(--brote-primary);
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px;
    color: white;
    white-space: nowrap;
}

.section-title__title{
    line-height:75px;
}

.sec-vant-interna{
    padding:10px;
}
.sec-vantagens{
    padding:0;
}


.sec-vant-interna .feature-one__title{
    font-size:20px;
    line-height:30px;
}
.feature-one__icon img {
    width:64px;
}

.information{
    padding-top:75px;
}
.site-footer-shape-two{
    display:flex;
}

.main-menu__wrapper-inner{
    display:none;
}
.img-banner-mob{
    display:none;
}




.titulo-mobile-h1{
    //font-family: 'Bevan', serif;
    display:none;
    font-family: 'Lilita One', sans-serif;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 60px 20px 40px 20px;
}
.titulo-mobile-h1 h1 {
    font-size:40px!important;
}

.titulo-mobile-h1 .title-destaque{
    color:#D90202;
    font-size:50px;
}

.btn-comprar-mob{
    margin:40px;
    display:flex;
    justify-content:center;
    display:none;
}



/*Mobile*/

@media(max-width:786px){
    .destaque-font{
        font-size:35px;
        line-height:55px;
    }
    .section-title__title{
        font-size:35px;
        line-height:55px;
    }
    .img-banner-desk{
        width:100%;
        display:none;
    }
    .img-banner-mob{
        display:block;
        width: 100%;
    }


    .main-header__top-details{
        padding-bottom:10px;
    }
    
    /*Slide*/
    .swiper-slide{
        opacity:1!important;
       }
       .image-layer{
        background:#FFFFFF;
        background-image: none!important;
       }
       .main-slider .container{
        padding-bottom:150px;
        padding:0px 0;
        padding-bottom:0;
       }

       .swiper-slide .col-xl-12{
            padding:0;
        }
        .testimonial-one{
            padding:50px 0 155px;
        }

        .main-slider-bubble{
            display:none;
        }

        .btn-comprar-mob{
            display:flex;
        }
       .titulo-mobile-h1{
            display:block;
       }

       .feature-one{
        padding: 50px 0 145px;
       }
}
